body{
    background-image: url(file:///C:/Users/Naveen/Downloads/The%20Matrix%20Wallpaper%20Gif%20Its%20the%20matrix.gif);
    color: white;
}
.hero-banner{
    position: absolute;
    right: 40px;
    top: 0px;
    width: 790px;
    height: 600px;
    margin-top: -330px;
  
  }

  .projects{
    margin-top: 100px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  

  .login{
    width: 25%;
    color: black;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    top: 250px;
    left: 500px;
    padding: 50px;
  }

img{
  width: 280px;
  border-radius: 16px;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

